<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorites</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Flask</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/app/templates/index.html">Home</a>
              <a class="nav-link" href="/app/templates/favorites.html">favorites</a>
            </div>
          </div>
        </div>
      </nav>
    <div></div>
{{favorites}}
{% for f in favorites %}
    <h4>My favorite sports are :</h4>
    <ul>
        {% for f in favorites %}
            <li>{{f}}</li>
        {% endfor%}
    </ul>
{% endfor %}
    </div>
</body>
</html>